<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>Field</key>
			<string>First Name</string>
			<key>Cell</key>
			<string>textCell</string>
			<key>Mapping</key>
			<string>first_name</string>
		</dict>
		<dict>
			<key>Field</key>
			<string>Surname</string>
			<key>Cell</key>
			<string>textCell</string>
			<key>Mapping</key>
			<string>surname</string>
		</dict>
		<dict>
			<key>Field</key>
			<string>Vehicle Registration Number</string>
			<key>Cell</key>
			<string>textCell</string>
			<key>Mapping</key>
			<string>vehicle_registration</string>
		</dict>
		<dict>
			<key>Field</key>
			<string>Mobile Number</string>
			<key>Cell</key>
			<string>textCell</string>
			<key>Mapping</key>
			<string>telephone_number</string>
		</dict>
		<dict>
			<key>Field</key>
			<string>Email Address</string>
			<key>Cell</key>
			<string>textCell</string>
			<key>Mapping</key>
			<string>email</string>
		</dict>
		<dict>
			<key>Field</key>
			<string>Postal Address</string>
			<key>Cell</key>
			<string>textCell</string>
			<key>Mapping</key>
			<string>address</string>
		</dict>
		<dict>
			<key>Field</key>
			<string>Insurer</string>
			<key>Cell</key>
			<string>textCell</string>
			<key>Mapping</key>
			<string>insurer</string>
		</dict>
	</array>
</array>
</plist>
